$main-color: #e40017;
$second-color: #bd2000;
$third-color: #fa1e0e;
$pure-white: #fff;
$light-white: #eee;
$dark: #2e2e2e;

$img-gradient: linear-gradient(35deg, rgba(46, 46, 46, .65), rgba(255, 72, 0, .7), rgba(204, 75, 66, .55));
$bg-gradient: linear-gradient(35deg, rgb(46, 46, 46), rgb(255, 72, 0), rgb(204, 75, 66));